.commonbackground {
  overflow-x: hidden;
  background-image: linear-gradient(#3937379e, #0a0404ad), url(/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(15px);
  color: white;
}
